@charset "UTF-8";

body {
   background-color: #87dee4;
   font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.466) ;
}

div#msg {
    text-align: center;
    padding-bottom: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

img#imagem {
     border-radius: 50%;
     width: 250px;
     height: 250px;
}
div#foto {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
}